@page
@using SneakerShopCassandra.Pages;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ovo je aplikacija izrađena kao praktični dio diplomskog rada na temu "Utjecaj odabira baze podataka na brzinu rada programskih aplikacija".</p>
<p>Autor: Petar Mihalić</p>
